
.endereço-descricao-carrossel{
    color: black;
    font-family:"Roboto",'Open Sans';
    font-size: 40px;
    background-color: #ebdfdf88;
}
.imovel-descricao-carrossel{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #ebdfdf88;
}
